##  So the public version control doesn't have the judge names csv, team names csv, and submission backups.
*

# I DO want this file tracked
!.gitignore

# and I want the examples tracked
!*.example

# and I haven't found a better place to put these
!encrypt_for_git.sh
!decrypt_for_local.sh

# Encrypted stuff can be in repo
!*.gpg