{% extends "steamify/base.html" %}
{% load static %}

{% block extrahead %}
<!-- choose a theme file -->
<link rel="stylesheet" href="{% static 'steamify/tablesorter-master/theme.blue.css' %}">
<!-- load jQuery and tablesorter scripts -->
{# taken care of elsewhere  <script type="text/javascript" src="/path/to/jquery-latest.js"></script> #}
<script type="text/javascript" src="{% static 'steamify/tablesorter-master/jquery.tablesorter.js' %}"></script>

<!-- tablesorter widgets (optional) -->
<script type="text/javascript" src="{% static 'steamify/tablesorter-master/jquery.tablesorter.widgets.js' %}"></script>
{% endblock %}


{% block content %}
    <h2> All Teams </h2>
    <table class="tablesorter-blue usets">
    <thead><tr>
        <th>TeamId</th>
        <th>Team</th>
        <th>Long</th>
        <th>Spont</th>
        <th>Both</th>
    </tr></thead>
    <tbody>
    {% for team in all_team_objects %}
        <tr>
            <td>{{ team.dotted_id }}</td>
            <td>{{ team.team_obj }}</td>
            <td>{{ team.lon }}</td>
            <td>{{ team.spon }}</td>
            <td>{{ team.both }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>


    <hr />


    <h2> All Entries by Category </h2>
    {% for cname, cdat in all_entries_by_category.items %}
        {{ cname }} : 
        <ul>
        {% for el in cdat %}
            <li><a href="{{ el.get_absolute_url }}">{{ el }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
    
    <script>
        $(function() {
            $(".usets").tablesorter();
        });
    </script>
{% endblock %}
