{% load static %}

<!doctype html>
<html lang="us">
<head>
    <meta charset="utf-8">
    <title>Steamify Score Entry</title>
    <link href="{% static 'steamify/js/jquery-ui-1.12.1.custom/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'steamify/css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>
    {% if user.is_authenticated %}
        <div style="background-color: #ccc;">
            Logged in as <b>{{ user }}</b>. 
            <a href="{% url 'logout' %}">(Log out)</a>
        </div>
    {% endif %}
    <br/>
    <img src="{% static "steamify/img/steamify-logo.png" %}" alt="My image">
    {% block content %}{% endblock %}
</body>
</html>