{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Steamify Score Entry</title>
    <link href="{% static 'steamify/js/jquery-ui-1.12.1.custom/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'steamify/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'steamify/css/steamify.css' %}" rel="stylesheet">
    <script src="{% static 'steamify/js/jquery-ui-1.12.1/external/jquery/jquery.js' %}"></script>
    <script src="{% static 'steamify/js/jquery-ui-1.12.1/jquery-ui.js' %}"></script>
</head>
<body>
    {% if user.is_authenticated %}
        <div class="steamify-login-state">
            Logged in as <b>{{ user }}</b>. 
            <a href="{% url 'logout' %}">(Log out)</a>
        </div>
    {% endif %}
    
    <img class="steamify-logo" src="{% static "steamify/img/steamify-logo.png" %}" alt="Image: Steamify Logo">
    
    {% block content %}{% endblock %}
</body>
</html>