{% extends "steamify/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <p class="steamify-breadcrumb">
        <a href="{% url 'steamify:steamifyhome' %}"><i class="icon-home"></i> </a>
        &gt;        
        <a href="{% url 'steamify:entryhome' %}">Score Entry</a>
        &gt;
        <a href="{% url 'steamify:pickteamname' view.kwargs.spontOrLong %}">
            {% if view.kwargs.spontOrLong == "spont" %}
                Spontaneous 
            {% else %}
                Long Problem
            {% endif %}
        </a>
        &gt;
        <b>Team: {{ view.kwargs.team_id_number }}</b>
        
    </p>
    <p>
        <em>Descriptions are provided for a score of <b>3</b> (&quot;Meets Standards&quot;).</em><br/>
    </p>
    <div class="main-content">
        <div class="rubric-questions">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit Score" class="btn btn-large btn-primary">
            </form>
        </div>
    </div>
{% endblock %}