{% extends "steamify/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <p class="steamify-breadcrumb">
        <a href="{% url 'steamify:steamifyhome' %}"><i class="icon-home"></i> </a>
        &gt;        
        <a href="{% url 'steamify:entryhome' %}">Score Entry</a>
        &gt;
        <a href="{% url 'steamify:pickteamname' view.kwargs.spontOrLong %}">
            {% if view.kwargs.spontOrLong == "spont" %}
                Spontaneous 
            {% else %}
                Long Problem
            {% endif %}
        </a>
        &gt;<br/>
        <span style="font-size: 2em;"><b>
            &nbsp;{{ team.dotted_id }}<br/>
            &nbsp;{{ team.name }}<br/>
            &nbsp;{{ team.school_name }}
        </b></span>
        
    </p>
    <p>
        <div style="max-width: 400px;">
            <img src="{% static "steamify/img/score_legend.png" %}" alt="Image: legend of 1 through 5">
        </div>
        <br/>
        <em>Descriptions shown below are for a score of <b>3</b> (&quot;Meets Standards&quot;).</em><br/>
    </p>
    <div class="main-content">
        <div class="rubric-questions">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit Score" class="btn btn-large btn-primary">
            </form>
        </div>
    </div>
    <script>
        $( function() {
            $(".control-group input").checkboxradio({
                icon: false
            });

            /* var select = $( "select" );
            select.each(function(index, elem){
                var slider = $( "<div></div>" ).insertAfter( elem ).slider({
                    min: 0,
                    max: 5,
                    range: "min",
                    value: elem.selectedIndex + 1,
                    slide: function( event, ui ) {
                        elem.selectedIndex = ui.value;  //  - 1;
                    }
                });

                $(elem).on( "change", function() {
                    slider.slider( "value", this.selectedIndex);   //  + 1 );
                });
            });
            
            $( "select" ).on( "change", function() {
                slider.slider( "value", this.selectedIndex + 1 );
            }); */
        } );
    </script>
{% endblock %}