{% extends "steamify/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Enter scores</h2>
    <p>
        Entering scores for <a href="{% url 'steamify:entryhome' %}"><b><em> {% if view.kwargs.spontOrLong == "spont" %} Spontaneous {% else %} Long Problem {% endif %} </em></b></a>
    </p>
    <hr />
    <p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Continue..." class="btn">
        </form>
    </p>


    <script src="{% static 'steamify/js/jquery-ui-1.12.1.custom/external/jquery/jquery.js' %}"></script>
    <script src="{% static 'steamify/js/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
    <script>

        $(function(){
            var teams = [
                "E.VA.156",
                "E.EN.278",
                "M.RO.390",
                "M.EN.432"
            ].sort();

            $( "#id_full_team_id" ).autocomplete({
                source: teams
            });
        });
    </script>
{% endblock %}